<ion-header >
  <ion-navbar primary>
    <ion-title>
      About
    </ion-title>
    <ion-buttons end>
    <button (click)="loadPeople()" >
      <ion-icon name="refresh"></ion-icon>
      refresh
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="about">


   <ion-card full-card *ngFor="let post of postsArray" (click)="viewPost(post)">
<!--     <ion-item>
      <ion-avatar item-left>
        <img src="img/marty-avatar.png">
      </ion-avatar
      <h2>{{post.subreddit}}</h2>
      <p>November 5, 1955</p>
    </ion-item> -->

    <ion-card-content>
      <ion-card-title>
        <h2>{{post.title}}</h2>
        <p><ion-icon name='person' primary></ion-icon> Posted by {{post.author}}</p>

        <ion-nav-buttons>

        </ion-nav-buttons>
        </ion-card-title>
      <div class="imageContainer">
     <img *ngIf="post.imgUrl" src="{{post.imgUrl}}"/>
      </div>
    </ion-card-content>
    <!--   <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p> -->
<!--
  <button clear>
    <ion-icon name="person"></ion-icon>
    {{post.author}}
  </button>
<ion-buttons centre>
  <button  clear>
    <ion-icon name="arrow-round-up"></ion-icon>
    {{post.votes}}
  </button>
</ion-buttons>
      <ion-buttons>

  <button end clear >
    {{post.earned}}
    <ion-icon name="cash"></ion-icon>

  </button>

</ion-buttons>
      -->
      <ion-row no-padding>
        <ion-col>
          <button clear smaller danger>
            <ion-icon name='cash'></ion-icon>
            {{post.earned}}
          </button>

        </ion-col>
        <ion-col text-center>
          <button clear smaller danger>
            <ion-icon name='arrow-up'></ion-icon>
            {{post.votes}}
          </button>
        </ion-col>
        <ion-col text-right>

        </ion-col>
      </ion-row>


  </ion-card>


</ion-content>
